---
nameSender: Арчибальд
first_name: Арчибальд
second_name: Котиков
login: archi
email: kotikoff@kotomail.ru
phone: 88888888
title: Profile Settings
---
{{!< base/base}}

<main>
    <div class="dialogs__wrapper">
        <div class="dialogs__header">
            <img class="dialogs__item__img" src="../../../static/img/animals.png">
            <div class="dialogs__header__person__name && text">{{nameSender}}</div>
        </div>
        <div class="dialogs__sidebar">
            <div class="dialogs__profile__box">
                <div>
                    <img class="dialogs__profile__box__img" src="../../../static/img/animals.png">
                    <a href="">
                        <img src="../../../static/img/profile-edit(32x32)@1x.png">
                    </a>
                </div>
                <div class="input__wraper">
                    <input class="dialogs__search" placeholder="Поиск" type="text" size="40" />
                </div>
            </div>
            <div class="dialogs__dialogs__box">
                <div class="dialogs__item">
                    <img class="dialogs__item__img" src="../../../static/img/animals.png">
                    <div class="dialogs__message">
                        <div class="dialogs__person-name && text">Барсик</div>
                        <div class="dialogs__message__text && text">Вы: мои кожаные ушли, приходи, на шторах повисим</div>
                    </div>
                </div>
                <div class="dialogs__item">
                    <img class="dialogs__item__img" src="../../../static/img/animals.png">
                    <div class="dialogs__message">
                        <div class="dialogs__person-name && text">Барсик</div>
                        <div class="dialogs__message__text && text">Вы: мои кожаные ушли, приходи, на шторах повисим</div>
                    </div>
                </div>
                <div class="dialogs__item">
                    <img class="dialogs__item__img" src="../../../static/img/animals.png">
                    <div class="dialogs__message">
                        <div class="dialogs__person-name && text">Барсик</div>
                        <div class="dialogs__message__text && text">Вы: мои кожаные ушли, приходи, на шторах повисим</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialogs__content">
        </div>

        <input class="{{classList}}" ref="{{ref}}" placeholder="{{placeholder}}" type={{type}} size="40" value="{{value}}"/>

        <div class="dialogs__footer">
            <div class="input__wraper">
                <input class="dialogs__send__message" placeholder="Написать сообщение" type="text"/>
            </div>
            {{> input/input id="message" ref="message" type="text" value="{{message}}" label="Имя"  style="profile"}}
            <a class="dialogs__send__button" href="">
                <img src="../../../static/img/send-button-3(40x40)@1x.png">
            </a>
        </div>
</main>

