<div class="{{style}}__inputWrapper">
    <label class="{{style}}__label" for={{id}}>{{label}}</label>
    <input class="input && {{style}}__input" type={{type}} size="40" id="{{id}}" value={{value}} {{disabled}}/>
</div>